=title "#{@account.name} invitations", subtitle: "Invite people to join your account", icon: "mailer"

.buttons
  = link_to "+ Create new invitation", new_account_invitation_path(@account), class: 'button is-primary'

- if @invitations.empty?
  .empty-box
    .title.is-5 No pending account invitations
    .subtitle.is-6 Invitations will appear here after they are added
    = link_to "+ Create new invitation", new_account_invitation_path(@account), class: 'button'

- else
  - @invitations.each do |invitation|
    .list-card--item
      .list-card--item--title= link_to invitation.email, invitation_path(invitation)
      .list-card--item--details
        -if invitation.name
          .list-card--item--detail
            = invitation.name
        .list-card--item--detail
          Created
          = local_time_ago invitation.created_at
