- model_class = Team
.page-header
  %h1= @team.name
  %p_
    =pluralize @team.members.count, "person"
    on duty
  %h2 Notifications
  %table.table.table-striped
    %thead
      %tr
        %th= Notification.human_attribute_name(:subject)
        %th= Notification.human_attribute_name(:created_at)
        %th Acknowledged by
    %tbody
      - @team.notifications.each do |notification|
        %tr
          %td= link_to notification.subject, notification
          %td= local_time notification.created_at
          %td
            -if notification.acknowledgement
              =link_to notification.acknowledgement.user.name, notification.acknowledgement
              =local_time_ago notification.acknowledgement.created_at
            -else
              = link_to t('.ack', :default => t("helpers.links.ack")), new_acknowledgement_path(notification_id: notification.id), :class => 'btn btn-xs'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_team_path(@team), :class => 'btn btn-default'
= link_to t('.notify', :default => t("helpers.links.notify")), new_notification_path(team_id: @team), :class => 'btn btn-default'
