- model_class = Team
.page-header
  %h2
    =pluralize @team.members.count, "person"
    on call
  .members
    -@team.members.each do |member|
      .member
        =image_tag "//via.placeholder.com/100x100", class: "member__image"
        .member__name=member.user.name
    .member
      =image_tag "//via.placeholder.com/100x100", class: "member__image"
      .member__name
        =link_to "Invite members", new_invitation_path(@team)
  %h2 Notifications
  %table.table.table-striped
    %thead
      %tr
        %th= Notification.human_attribute_name(:subject)
        %th= Notification.human_attribute_name(:created_at)
        %th Acknowledged by
    %tbody
      - @team.notifications.each do |notification|
        %tr
          %td= link_to notification.subject, notification
          %td= local_time notification.created_at
          %td
            -if notification.acknowledgement
              =link_to notification.acknowledgement.user.name, notification.acknowledgement
              =local_time_ago notification.acknowledgement.created_at
            -else
              = link_to t('.ack', :default => t("helpers.links.ack")), new_notification_acknowledgement_path(notification), :class => 'btn btn-xs'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_team_path(@team), :class => 'btn btn-default'
= link_to t('.notify', :default => t("helpers.links.notify")), new_team_notification_path(@team), :class => 'btn btn-default'
