<section class="container-lg">
  <%= title "Verify login code", subtitle: "Look for a <strong>6 digit code</strong> in the inbox or spam folder for <strong>#{@verification.data}</strong>".html_safe %>

  <%= application_form @verification, url: url_for(action: :update) do |f| %>
    <%= f.input :code, autofocus: true, hint: "You have a few minutes to enter the code before it expires", pattern: '[0-9]*' %>
    <%= f.input :data, as: :hidden %>
    <%= f.input :salt, as: :hidden %>
    <%= f.button :submit, "Verify code →", class: 'btn btn-primary' %>
  <% end %>

  <hr>

  <p>Launch <%= link_to "Gmail", "https://gmail.com/", target: "_blank" %> | <%= link_to "Outlook", "https://outlook.live.com/", target: "_blank" %> | <%= link_to "Yahoo Mail", "https://mail.yahoo.com/", target: "_blank" %></p>
</section>