=title "Copy #{@item.name}", subtitle: breadcrumb(item_breadcrumbs(@item))

= application_form @item_copy do |f|
  = f.input :number_of_copies, autofocus: true, as: :integer
  = f.input :item_id, as: :hidden
  = f.button :submit, class: 'is-primary', value: "Create copies"
