= title "People", subtitle: "Control who can help organize or find stuff in the #{@account.name} account", icon: "basketball-jersey"

.buttons
  = link_to "+ Add people", new_account_person_path(@account), class: "button is-primary"

.list-cards
  -with @account.user do |owner|
    = component :list_card, owner.name, user_path(owner), icon: "star" do |card|
      - card.slot(:detail) do
        Owner
      - card.slot(:detail) do
        Account created
        = local_time_ago @account.created_at

  - @members.each do |member|
    = component :list_card, member.name, member_path(member), icon: "basketball-jersey" do |card|
      - card.slot(:detail) do
        Member
      - card.slot(:detail) do
        Added
        = local_time_ago member.created_at

  - @invitations.each do |invitation|
    = component :list_card, (invitation.name || invitation.email), invitation_path(invitation), icon: "mailer" do |card|
      - card.slot(:detail) do
        Pending invitation
      - card.slot(:detail) do
        Invited
        = local_time_ago invitation.created_at

  - @member_requests.each do |request|
    = component :list_card, request.user.name, new_member_request_review_path(request), icon: "mailer" do |card|
      - card.slot(:detail) do
        Pending request
      - card.slot(:detail) do
        Invited to account
        = local_time_ago request.created_at
