<%= title "People", subtitle: "Control who can help organize or find stuff in the #{@account.name} account", icon: "basketball-jersey" %>

<div class="buttons">
  <%= link_to "+ Add people", new_account_person_path(@account), class: "btn btn-primary" %>
</div>

<div class="list-cards">
  <% with @account.user do |owner| %>
    <%= render partial: "helpers/list_card_helper/list_card", locals: {
      title: owner.name,
      link: user_path(owner),
      icon: "star",
      details: [
        "Owner",
        "Account created #{local_time_ago(@account.created_at)}"
      ]
    } %>
  <% end %>

  <% @members.each do |member| %>
    <%= render Components::List::CardComponent.new(member.name, member_path(member), icon: "basketball-jersey") do |card| %>
      <% card.detail do %>
        Member
      <% end %>
      <% card.detail do %>
        Added <%= local_time_ago member.created_at %>
      <% end %>
    <% end %>
  <% end %>

  <% @invitations.each do |invitation| %>
    <%= render Components::List::CardComponent.new((invitation.name || invitation.email), invitation_path(invitation), icon: "mailer") do |card| %>
      <% card.detail do %>
        Pending invitation
      <% end %>
      <% card.detail do %>
        Invited <%= local_time_ago invitation.created_at %>
      <% end %>
    <% end %>
  <% end %>

  <% @member_requests.each do |request| %>
    <%= list_card \
        title: request.user.name,
        link: new_member_request_review_path(request.user),
        icon: "mailer",
        details: [
          "Pending request",
          "Invited to account #{local_time_ago request.created_at}"
        ]
    %>
  <% end %>
</div>

