<%= title "Add people", subtitle: "Securely add others to help manage and search this account", icon: "basketball-jersey" %>

<div class="prose">
  <p>Share the invitation link so people can request to join the account. We'll send you an email when they make the request and you can decide whether or not you want to add them to the account.</p>
</div>

<hr>

<div class="flex flex-col gap-2">
  <%= label_tag "invitation_link", "Invitation link", class: "text-lg font-bold" %>
  <%= render Components::Stimulus::Clipboard.new do |clipboard| %>
    <div class="join w-full">
      <%= clipboard.input(type: "text", id: "invitation_link",class: "input input-bordered input-primary w-full join-item", readonly: true, value: new_account_member_request_url(@account)) %>
      <%= clipboard.button(class: "btn btn-primary join-item") { "Copy link" } %>
    </div>
  <% end %>
  <div class="help">
    People can only request to join your account from the invitation link. If their request is approved they can access the account.
  </div>
</div>

<hr>

<%= render Components::CopyEmailTemplate.new data: account_invitation_email_body %>
