= title "Add people", subtitle: "Securely add others to help manage and search this account", icon: "basketball-jersey"

.content
  %p Share the invitation link so people can request to join the account. We'll send you an email when they make the request and you can decide whether or not you want to add them to the account.

%hr

.field
  = label_tag "invitation_link", "Invitation link", class: "label"
  .field.has-addons{"data-controller": "clipboard"}
    .control.is-expanded
      = text_field_tag "invitation_link", new_account_member_request_url(@account), class: "input", readonly: true, data: { target: "clipboard.source" }
      .help
        People can only request to join your account from the invitation link. If their request is approved they can access the account.
    .control
      = button_tag "Copy link", class: "button is-primary", data: { action: "clipboard#copy" }
%hr

.fields
  .field{"data-controller": "clipboard"}
    = label_tag "email_template", "Email template", class: "label"
    = text_area_tag "email_template", render(partial: "email_template", locals: {url: new_account_member_request_url(@account)}), class: "textarea", readonly: true, data: { target: "clipboard.source" }, rows: 7
    .help
      Copy and paste this into your email app and send to people so they can request to join this account.
  .field= button_tag "Copy template", class: "button", data: { action: "clipboard#copy" }
