<h1 class="title"><%= t '.title', default: resource_class.model_name.human.pluralize.titleize %></h1>
<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th><%= resource_class.human_attribute_name(:phone_number) %></th>
      <th><%= resource_class.human_attribute_name(:user_id) %></th>
      <th><%= resource_class.human_attribute_name(:created_at) %></th>
      <th><%= t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @phone_number_claims.each do |phone_number_claim| %>
      <tr>
        <td><%= link_to phone_number_claim.phone_number, phone_number_claim_path(phone_number_claim) %></td>
        <td><%= phone_number_claim.user.name %></td>
        <td><%= local_time phone_number_claim.created_at %></td>
        <td>
          <%= link_to t('.show', default: t("helpers.links.show")), phone_number_claim_path(phone_number_claim), class: 'button is-default is-xs' %>
          <%= link_to t('.destroy', default: t("helpers.links.destroy")), phone_number_claim_path(phone_number_claim), "data-turbo-method": :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-xs is-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', default: t("helpers.links.new")), new_phone_number_claim_path, class: 'btn btn-primary' %>