%h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%h2.subtitle All the things you want to track

%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
      %th= resource_class.human_attribute_name(:container)
      %th= resource_class.human_attribute_name(:created_at)
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, item
        %td
          -if container = item.container
            = link_to container.name, container
        %td= local_time item.created_at
= link_to t('.new', :default => t("helpers.links.new")), new_account_item_path(@account), :class => 'button is-primary'
