%h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%h2.subtitle All the things you want to track

.buttons
  = link_to "Add item", new_account_item_path(@account), :class => 'button is-primary'
  = form_tag url_for, method: :get do
    .field.has-addons
      .control
        = text_field_tag :search, params[:search], class: "input", placeholder: "Search", autofocus: params[:search].present?
      .control
        = submit_tag "Search", class: "button"

.list-card
  - @items.each do |item|
    .list-card--item
      .list-card--item--title=link_to item.name, item
      .list-card--item--details
        .list-card--item--detail
          Created
          =local_time_ago item.created_at
        -if container = item.container
          .list-card--item--detail
            In
            = link_to container.name, container
