= title "Add to #{@account.name}"

= application_form @item, url: url_for(action: :create) do |f|
  = f.input :name, autofocus: true
  = f.button :submit, class: 'is-primary'

%hr

= link_to "Create from a template...", templates_account_items_path(@account)
