<%= title "Add to #{@account.name}" %>

<div class="list-cards">
  <%= render Components::List::CardComponent.new("Container", new_account_items_templates_container_path(@account), icon: "folder") do |c| %>
    <% c.detail do %>
      Shelves, boxes, folders, or anything else that stuff is put into
    <% end %>
  <% end %>
  <%= render Components::List::CardComponent.new("Item", new_account_items_templates_item_path(@account), icon: "object") do |c| %>
    <% c.detail do %>
      All the important things to keep track of
    <% end %>
  <% end %>
  <%= render Components::List::CardComponent.new("Perishable", new_account_items_templates_perishable_path(@account), icon: "tag") do |c| %>
    <% c.detail do %>
      Food or anything that expires
    <% end %>
  <% end %>
  <%= render Components::List::CardComponent.new("Room", new_account_items_templates_room_path(@account), icon: "room") do |c| %>
    <% c.detail do %>
      Keep track of where things are located
    <% end %>
  <% end %>
</div>
