%h1 Create item in #{@container.name}

= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, autofocus: true
  = f.association :account, as: :hidden
  = f.association :container, as: :hidden
  = f.button :submit, :class => 'btn-primary'
