%h1.title Add item to #{@container.name}

= simple_form_for @item do |f|
  = f.input :name, autofocus: true
  = f.input :shelf_life_end, label: "Expiration date", hint: %[If the item expires enter a date like "Jan 29" or something relative like "6 months from now"], optional: true
  = f.association :account, as: :hidden
  = f.association :container, as: :hidden
  = f.button :submit, "Add item", class: 'is-primary'
