<%= title "#{resource.name} would like to access #{resource.account.name}", subtitle: "If the request is approved, #{resource.name} will be able to manage, search, and see all items on this account" %>

<%= resource_field :name %>
<%= resource_field :email %>
<%= resource_field :created_at do %>
  <%= local_date resource.created_at %>
<% end %>

<div class="is-inline-block">
  <%= application_form resource.tap{ |r| r.status = "accept" }, url: member_request_review_path do |f| %>
    <%= f.input :status, as: :hidden %>
    <%= f.button :submit, "Accept", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="is-inline-block">
  <%= application_form resource.tap{ |r| r.status = "decline" }, url: member_request_review_path do |f| %>
    <%= f.input :status, as: :hidden %>
    <%= f.button :submit, "Decline" %>
  <% end %>
</div>