= simple_form_for @label, :html => { :class => 'form-horizontal' } do |f|
  = f.input :text, autofocus: true
  = f.association :account, collection: policy_scope(Account), include_blank: false
  = f.association :labelable, collection: policy_scope(Item), include_blank: true
  = f.button :submit, :class => 'btn-primary'
