=title "#{resource.text} label", subtitle: breadcrumb(label_breadcrumbs), icon: resource.icon

.field.has-addons
  .control
    = link_to "Edit", edit_label_path(@label), class: "button"
  .control
    = component :menu, title: "Print..." do |menu|
      = menu.slot(:item) do
        = link_to "Small label", label_path(@label, format: :pdf)
      = menu.slot(:item) do
        = link_to "Jumbo label", label_path(@label, format: :pdf, size: :large)
      -if @label&.item&.parent
        = menu.slot(:item) do
          = link_to "Moving label", move_label_path(@label, format: :pdf)

.label-preview
  %iframe.label-preview--embed{type: "application/pdf", src: label_path(@label, format: :pdf)}

.buttons.mt-4
  = link_to t('.destroy', default: t("helpers.links.destroy")), label_path(@label), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-text'
