= simple_form_for @notification, :html => { :class => 'form-horizontal' } do |f|
  = f.association :team, collection: policy_scope(Team), include_blank: false
  = f.input :subject, autofocus: true
  = f.input :message, as: :text, input_html: { rows: 7 }
  = f.button :submit, :class => 'btn-primary'
