= simple_form_for(@phone_number_verification) do |f|
  = f.error_notification
  = f.input :code, autofocus: true
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn btn-default'
