<section class="container-lg">
  <%= title resource.name, subtitle: "Edit personal information and settings" %>

  <div class="card bg-base-200">
    <div class="card-body">
      <h3 class="text-xl font-bold">Profile</h3>
      <p class="text-lg">How you appear in Thingybase</p>

      <%= render Components::Field::List.new @user do %>
        <%= it.field :name %>
        <%= it.field :email %>
      <% end %>

      <p><%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-outline' %></p>
    </div>
  </div>
</section>
