<section class="container-lg">
  <%= title resource.name, subtitle: "Edit personal information and settings" %>

  <div class="card bg-base-200">
    <div class="card-body">
      <h3 class="text-xl font-bold">Profile</h3>
      <p class="text-lg">How you appear in Thingybase</p>
      <p>
        <strong><%= resource_class.human_attribute_name(:name) %>:</strong>
        <br>
        <%= @user.name %>
      </p>
      <p>
        <strong><%= resource_class.human_attribute_name(:email) %>:</strong>
        <br>
        <%= @user.email %>
      </p>

      <p><%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-outline' %></p>
    </div>
  </div>

  <div class="card bg-base-200">
    <div class="card-body">
      <h3 class="text-xl font-bold">API Keys</h3>
      <p class="text-lg">Connect to other apps</p>
      <p>Integrate Thingybase with other applications and services with API keys.</p>
      <p><%= link_to "Manage API keys", api_keys_path, class: 'btn btn-outline' %></p>
    </div>
  </div>

  <div class="card bg-base-200">
    <div class="card-body">
      <h3 class="text-xl font-bold">Phone number</h3>
      <p class="text-lg">Used for verification & notifications</p>
      <p>We only use this phone number text you if you opt-in</p>
      <p>
        <strong><%= resource_class.human_attribute_name(:phone_number) %>:</strong>
        <br>
        <% if phone_number = @user.phone_number %>
          <%= phone_number %>
        <% else %>
          None
        <% end %>
      </p>

      <p><%= link_to "#{@user.phone_number ? "Change" : "Add"} phone number", new_phone_number_claim_path, class: "btn-outline" %></p>
    </div>
  </div>
</section>