- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%h2 Profile
%p Information about you that your team members see.

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @user.name
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @user.email

= link_to "Edit profile", edit_user_path(@user), :class => 'btn btn-default'

%h2 Phone number
%p We only use this phone number to call or text you when your team gets a critical notification.
%p
  %strong= model_class.human_attribute_name(:phone_number) + ':'
  %br
  = @user.phone_number

= link_to "#{@user.phone_number ? "Change" : "Add" } phone number", new_phone_number_claim_path, class: "btn btn-default"

%h2 API Tokens
%p Connect Pagerline to other applications and services with API keys
=link_to "Manage API keys", api_keys_path, :class => 'btn btn-default'