%h1.title Settings for #{resource.name}
%h2.subtitle Manage all of your Thingybase settings

.columns
  .column
    %h3.title.is-5 Profile
    %p.subtitle.is-6 How you appear in Thingybase
    %p
      %strong= resource_class.human_attribute_name(:name) + ':'
      %br
      = @user.name
    %p
      %strong= resource_class.human_attribute_name(:email) + ':'
      %br
      = @user.email

    = link_to "Edit profile", edit_user_path(@user), :class => 'button is-default'
  .column
    %h3.title.is-5 Phone number
    %p.subtitle.is-6 Used for verification & notifications
    %p We only use this phone number text you if you opt-in
    %p
      %strong= resource_class.human_attribute_name(:phone_number) + ':'
      %br
        -if phone_number = @user.phone_number
          =phone_number
        -else
          None

    = link_to "#{@user.phone_number ? "Change" : "Add" } phone number", new_phone_number_claim_path, class: "button is-default"
  .column
    %h3.title.is-5 API Keys
    %p.subtitle.is-6 Connect to other apps
    %p Connect Thingybase to other applications and services with API keys.
    =link_to "Manage API keys", api_keys_path, :class => 'button is-default'