= title "New movement", subtitle: "Make a label for where you're going to move stuff", icon: "dolly-cart"

.tabs
  %ul
    %li.is-active
      =link_to "New", new_move_movement_builder_path(@move), "data-turbolinks-action": "replace"
    %li
      =link_to "Existing", new_move_movement_path(@move), "data-turbolinks-action": "replace"

= application_form resource, url: move_movement_builder_path(@move) do |f|
  = f.input :account, as: :hidden
  = f.input :name, label: "Unpacked items", hint: "What is being moved?", autofocus: true
  = f.input :destination_id, collection: destination_select_items, include_blank: false, hint: "Where will it be moved?"
  .buttons
    = f.button :submit, "Create move label", class: 'is-primary'
