<%= title "New movement", subtitle: "Make a label for where you're going to move stuff", icon: "dolly-cart" %>

<div class="tabs">
  <ul>
    <li class="is-active">
      <%= link_to "New", new_move_movement_builder_path(@move), "data-turbolinks-action": "replace" %>
    </li>
    <li>
      <%= link_to "Existing", new_move_movement_path(@move), "data-turbolinks-action": "replace" %>
    </li>
  </ul>
</div>

<%= application_form resource, url: move_movement_builder_path(@move) do |f| %>
  <%= f.input :account, as: :hidden %>
  <%= f.input :name, label: "Item", hint: "What is being moved? #{link_to "Select an existing item", new_move_movement_path(@move), "data-turbolinks-action": "replace"}.".html_safe, autofocus: true %>
  <%= f.input :destination_id, collection: destination_select_items, include_blank: false, hint: "Where will the item be moved?" %>
  <div class="buttons">
    <%= f.button :submit, "Create Movement", class: 'btn btn-primary' %>
  </div>
<% end %>