= title "Search #{resource.name}", subtitle: breadcrumb(item_breadcrumbs)

=search_field autofocus: true

.list-card
  -if @search.phrase.blank?
    .list-card--item
      .list-card--title
  -else
    -if @search.empty?
      .list-card--item
        .list-card--title
          Could not find anything matching "#{@search.phrase}" in #{resource.name}.
    -else
      - @search.items.each do |item|
        = render_item_list_card item do
          -if parent = item.parent
            .list-card--item--detail
              In
              = link_to parent.name, parent
    =link_to "Search entire account", account_search_path(@account, search: @search.phrase)
