= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, autofocus: true
  = f.association :parent, collection: @container.ancestors, include_blank: false
  = f.association :account, collection: policy_scope(Account), include_blank: false
  = f.button :submit, :class => 'btn-primary'
