%h1.title=t '.title', default: resource_class.model_name.human.pluralize.titleize

%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
      %th= resource_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @containers.each do |container|
      %tr
        %td= link_to container.name, container
        %td= local_time container.created_at
        %td
          = link_to t('.show', default: t("helpers.links.show")), container, class: 'button is-default is-xs'
          = link_to t('.print', default: t("helpers.links.print")), container_path(container, format: :pdf), class: 'button is-default is-xs'
          = link_to t('.edit', default: t("helpers.links.edit")), edit_container_path(container), class: 'button is-default is-xs'
          = link_to t('.destroy', default: t("helpers.links.destroy")), container_path(container), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-xs is-danger'

= link_to t('.new', default: t("helpers.links.new")), new_container_path, class: 'button is-primary'
