%h1.title=resource.name
.subtitle=breadcrumb container_breadcrumbs

.buttons
  = link_to "+ Add", add_container_path(@container), class: 'button is-primary'
  .is-hidden-mobile
    =search_field autofocus: true, url: account_search_path(@account)
  .is-hidden-tablet
    =link_to "Search", account_search_path(@account), class: "button"
.list-card
  =render partial: "containers/list-card--item", collection: @container.children, as: :container
  =render partial: "items/list-card--item", collection: @container.items, as: :item

.buttons
  = link_to t('.edit', default: t("helpers.links.edit")), edit_container_path(@container), class: 'button is-default'
  -if label = resource.label
    = link_to "View label", label_path(label), class: 'button'
  -else
    = link_to "Print label", container_labels_path(resource), class: 'button', method: :post
  = link_to t('.destroy', default: t("helpers.links.destroy")), container_path(@container), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-text'