%h1.title=resource.name

.breadcrumb(aria-label="breadcrumbs")
  %ul
    %li=link_to @account.name, account_containers_path(@account)
    -@container.ancestors.reverse.each do |container|
      %li=link_to container.name, container
    %li.is-active=link_to resource.name, resource, 'aria-current': "page"

.list-card
  - @container.children.each do |container|
    .list-card--item
      .list-card--item--title=link_to container.name, container
      .list-card--item--details
        .list-card--item--detail
          Created at
          =local_time container.created_at
  - @container.items.each do |item|
    .list-card--item
      .list-card--item--title=link_to item.name, item
      .list-card--item--details
        .list-card--item--detail
          Created at
          =local_time item.created_at
        -if container = item.container
          .list-card--item--detail
            In
            = link_to container.name, container

= link_to "Add container", new_container_child_path(@container), :class => 'button is-default'
= link_to "Add item", new_container_item_path(@container), :class => 'button is-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_container_path(@container), :class => 'button is-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), container_path(@container), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button is-danger'

-if label = resource.label
  = link_to "View label", label, class: 'button'
-else
  = simple_form_for resource.build_label(text: resource.name, account: @account) do |f|
    = f.input :text, as: :hidden
    = f.input :account_id, as: :hidden
    = f.input :labelable_global_id, as: :hidden
    = f.button :submit, :class => 'is-primary'
