<%= title "Search #{@account.name}", subtitle: "Find items, containers, and other things", icon: "telescope" %>

<div class="is-hidden-tablet">
  <%= search_field autofocus: true %>
</div>

<div class="list-card">
  <% if @search.phrase.blank? %>
    <div class="list-card--item">
      <div class="list-card--title">
      </div>
    </div>
  <% elsif @search.empty? %>
    <div class="list-card--item">
      <div class="list-card--title">
        Could not find anything matching "<%= @search.phrase %>" in <%= @account.name %>.
      </div>
    </div>
  <% else %>
    <% @search.items.each do %>
      <%= component :item_list_card, item: _1, is_parent_visible: true %>
    <% end %>
  <% end %>
</div>