<%= title resource.name, subtitle: "Stuff that you can loan to your friends, family, and people you trust", icon: "heart" %>

<div class="buttons">
  <%= link_to "+ Add items people can borrow", new_loanable_list_item_path(@loanable_list), class: "btn btn-primary" %>
  <%= link_to "Manage sharing", loanable_list_members_path(@loanable_list), class: "btn" %>
  <div class="field has-addons">
  </div>
</div>

<% if resource.items.empty? %>
  <div class="box">
    You need to designate items that you're willing to loan, then share this list with your friends and family.
  </div>
<% else %>
  <% resource.loanable_items.each do |loanable| %>
    <%= component :list_card, loanable.item.name, loanable, icon: loanable.item.icon do |card| %>
      <% card.detail do %>
        Created
        <%= local_time_ago loanable.created_at %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="buttons">
  <div class="control"><%= link_to "Edit", url_for(action: :edit), class: "btn btn-outline" %></div>
  <div class="control"><%= link_to "Delete", resource, "data-turbo-method": :delete, class: "btn btn-outline", data: { confirm: 'Are you sure?' } %></div>
</div>