%h1.title Edit #{resource_name}

= application_form @invitation do |f|
  = f.input :email, autofocus: true
  = f.input :name
  = f.association :account, as: :hidden
  = f.button :submit, class: 'is-primary'
  = link_to t('.destroy', default: t("helpers.links.destroy")), invitation_path(@invitation), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-danger'

