%h1.title New container
= simple_form_for @container, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, autofocus: true
  = f.association :account, as: :hidden
  = f.association :parent, as: :hidden
  = f.button :submit, :class => 'is-primary'
