=title @api_key.name, icon: "key"

=resource_field :name
=resource_field :created_at
=resource_field :updated_at
=resource_field :token do
  %p
    Keep this token a secret. Its only to be used with applications that you trust.
    %pre.is-family-code= @api_key.token

.buttons
  = link_to "API Keys", api_keys_path, class: 'button is-text'
  = link_to t('.destroy', default: t("helpers.links.destroy")), api_key_path(@api_key), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-danger'

%hr

.notification
  .content
    %h2.title.is-5 curl request
    %p Example of using curl to request a list of accounts
    %pre.is-family-code
      :plain
        curl "#{accounts_url(format: :json)}" -H "Authentication: apitoken #{@api_key.token}"
