<%= title parent_resource.name, subtitle: breadcrumb(breadcrumb_link(parent_resource.name, parent_resource), breadcrumb_link("People", loanable_list_members_path(parent_resource))), icon: "heart" %>

<div class="buttons">
  <%= link_to "+ Invite people", new_loanable_list_member_path(@loanable_list), class: "btn btn-primary" %>
  <div class="field has-addons">
  </div>
</div>

<% @loanable_list.members.each do |member| %>
  <%= component :list_card, member.user.name, icon: "mailer" do |card| %>
    <% card.detail do %>
      Member
    <% end %>
    <% card.detail do %>
      Approved
      <%= local_time_ago member.created_at %>
    <% end %>
  <% end %>
<% end %>

<% if @loanable_list.member_requests.any? %>

  <hr>

  <h3 class="title is-4">Pending requests</h3>

  <% @loanable_list.member_requests.each do |request| %>
    <%= component :list_card, request.user.name, new_loanable_list_member_request_review_path(request), icon: "mailer" do |card| %>
      <% card.detail do %>
        Pending request
      <% end %>
      <% card.detail do %>
        Invited
        <%= local_time_ago request.created_at %>
      <% end %>
    <% end %>
  <% end %>
<% end %>