= title "Add to #{@item_parent.name}", subtitle: breadcrumb(item_breadcrumbs(@item_parent)), icon: @item_parent.icon

= application_form @item, url: url_for(action: :create) do |f|
  = f.input :name, autofocus: true
  = f.button :submit, class: 'is-primary'

%hr

= link_to "Choose from a template...", templates_item_children_path(@item_parent)
