.buttons
  = link_to "+ Add", new_item_child_path(item), class: 'button is-primary'
  = link_to "Select...", new_item_batch_path(item), class: 'button'
  .is-hidden-mobile
    =search_field url: item_search_path(item)
  .is-hidden-tablet
    =link_to "Search", item_search_path(item), class: "button"

.list-card
  - if resource.children.empty?
    .empty-box
      .title.is-5
        = @item.name
        is empty
      .subtitle.is-6 Items will appear here after they are added
      = link_to "+ Add item", new_item_child_path(item), class: 'button'
  - else
    - resource.children.container_then_item.each do |item|
      = render_item_list_card item
