= application_form @item do |f|
  = f.input :name, autofocus: true
  = f.association :account, as: :hidden
  = f.association :container, label: "Contained in", collection: container_select_values(account_policy_scope(Container)), include_blank: true
  = f.input :shelf_life_begin, as: :string, hint: %[Dates and times like "Jan 1", "last week", "an hour from now" all work]
  = f.input :shelf_life_end, as: :string, hint: %[Dates and times like "Jan 1", "last week", "an hour from now" all work]
  = f.button :submit, class: 'is-primary'
