.buttons
  .field.has-addons
    .control= link_to "Edit", edit_item_path(@item), class: "button"
    .control= link_to "Change icon", edit_item_icon_path(@item), class: "button"
    .control
      -if label = resource.label
        = link_to "Label", label_path(label), class: "button"
      -else
        = link_to "Label", item_labels_path(resource), method: :post, class: "button"
    .control
      = component :menu, title: "More..." do |menu|
        = menu.slot(:item) do
          = link_to "Copy", new_item_copy_path(@item)
        - if @account.move
          = menu.slot(:item) do
            = link_to "Move", @item.movement ? movement_path(@item.movement) : new_item_movement_path(@item)
        = menu.slot(:item) do
          = link_to "Delete", item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }

=resource_field :created_at do
  =local_time item.created_at
=resource_field :updated_at do
  =local_time item.updated_at
=resource_field :created_by do
  =item.user.name
-if item.expires_at
  =resource_field :expires_at do
    =local_date item.expires_at
