%h1.title=resource.name

-if container = resource.container
  .breadcrumb(aria-label="breadcrumbs")
    %ul
      %li=link_to @account.name, account_containers_path(@account)
      -container.self_and_ancestors.reverse.each do |container|
        %li=link_to container.name, container
      %li.is-active=link_to resource.name, resource, 'aria-current': "page"

=resource_field :created_at
=resource_field :updated_at
=resource_field :created_by do
  =resource.user.name

= link_to t('.edit', default: t("helpers.links.edit")), edit_item_path(@item), class: 'button is-default'
= link_to t('.destroy', default: t("helpers.links.destroy")), item_path(@item), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-danger'

-if label = resource.label
  = link_to "View label", label_path(label, format: :pdf), class: 'button'
-else
  = simple_form_for resource.build_label(text: resource.name, account: @account) do |f|
    = f.input :text, as: :hidden
    = f.input :account_id, as: :hidden
    = f.input :labelable_global_id, as: :hidden
    = f.button :submit, :class => 'is-primary'
