.page-header
  %h1=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:text)
      %th= resource_class.human_attribute_name(:created_at)
  %tbody
    - @labels.each do |label|
      %tr
        %td= link_to label.text, label
        %td= local_time label.created_at
= link_to t('.new', :default => t("helpers.links.new")), new_account_label_path(@account), :class => 'btn btn-primary'
