%h1.title Create a new office account
%h2.subtitle Tell us a few things, we'll setup the basics, then you can customize the rest.

= application_form resource, url: url_for(action: :create) do |f|
  = f.input :name, autofocus: true
  = f.input :office_supply_closet, as: :boolean, hint: "Keep tabs on office supplies and get a report when its all empty"
  = f.input :storage_room, as: :boolean, hint: "The place where you keep all the bigger stuff"
  = f.input :break_room_pantry, as: :boolean, hint: "Get a heads up when snacks are running low"
  = f.button :submit, "Create account", class: 'is-primary'
