= title "Accept account invitation", subtitle: "#{@invitation.user.name} has invited you to join the #{@invitation.account.name} account"

= application_form @invitation_response, url: invitation_response_path(@invitation) do |f|
  = f.input :token, hint: "Code needed to accept or decline the invitation"
  = f.input :status, collection: InvitationResponse::STATUSES, include_blank: false
  = f.button :submit, "Respond to invitation", class: "is-primary"
