=render_layout "body" do
  %header
    .primary-nav
      %nav.primary-nav--left
        = active_link_to "Thingybase", accounts_path, class: "navbar-brand"
      %nav.primary-nav--center
        .menu-item=@account.name
        = active_link_to "Dashboard", @account
        = active_link_to "Labels", [@account, :labels]
        = active_link_to "Members", [@account, :members]
      %nav.primary-nav--right
        = active_link_to "Settings", user_path(current_user)
        = active_link_to "Sign out", session_path, method: :delete
  .container= yield
  %footer