= render_layout "body" do
  .account-layout
    .account-layout--sidecar.is-hidden-mobile
      -if is_electron?
        .electron-drag-region{style: "height: 2rem;"}
      .account-layout--sidecar--navigation
        .account-layout--sidecar--navigation--top
          .my-4
            =search_field autofocus: true, url: navigation_search_path, button: false, autofocus: false, placeholder: navigation_search_placeholder
          - is_active_navigation_key "Dashboard", active: "is-selected" do |active|
            =link_to account_path(@account), class: ["button is-text", active].join(" ") do
              = component :icon, "dashboard-gauge", class: "icon"
              %span.ml-2
                Dashboard
          - is_active_navigation_key "Items", active: "is-selected" do |active|
            =link_to account_items_path(@account), class: ["button is-text", active].join(" ") do
              = component :icon, active ? "chest-open" : "chest", class: "icon"
              %span.ml-2
                Items
          - is_active_navigation_key "People", active: "is-selected" do |active|
            =link_to account_people_path(@account), class: ["button is-text", active].join(" ") do
              = component :icon, "basketball-jersey", class: "icon"
              %span.ml-2
                People
          - with @account.loanable_list do |loanable_list|
            - is_active_navigation_key "Borrowing", active: "is-selected" do |active|
              =link_to account_loanable_list_path(@account), class: ["button is-text", active].join(" ") do
                = component :icon, "heart", class: "icon"
                %span.ml-2
                  Borrowing
          - with @account.move do |move|
            - is_active_navigation_key "Moving", active: "is-selected" do |active|
              =link_to account_move_path(@account), class: ["button is-text", active].join(" ") do
                = component :icon, "dolly-cart", class: "icon"
                %span.ml-2
                  Moving
        .account-layout--sidecar--navigation--top
          =link_to user_path(current_user), class: "button is-text" do
            = component :icon, "gears", class: "icon"
            %span.ml-2
              Profile
    .account-layout--main
      = yield
      %footer.account-layout--footer.is-hidden-tablet.has-text-centered.py-6
        =link_to "Manage #{@account.name}", account_path(@account), class: "button is-text"
