=render_layout "body" do
  %header
    .primary-nav
      %nav.primary-nav--left
        = active_link_to "Thingybase", root_path, class: "navbar-brand"
      -if logged_in?
        %nav.primary-nav--center
        %nav.primary-nav--right
          = active_link_to "Accounts", accounts_path
          = active_link_to "Profile", user_path(current_user)
          = active_link_to "Sign out", session_path, method: :delete
      -else
        %nav.primary-nav--right
        = active_link_to "Signup", new_session_path
        = active_link_to "Log in", launch_accounts_path
  .container= yield
  %footer