=render_layout "body" do
  %header
    .primary-nav
      %nav.primary-nav--left
        = active_link_to "Pagerline", root_path, class: "navbar-brand"
      -if logged_in?
        %nav.primary-nav--center
          = active_link_to "Teams", teams_path
          = active_link_to "Notifications", notifications_path
        %nav.primary-nav--right
          = active_link_to "Settings", user_path(current_user)
          =# active_link_to "Members", members_path
          =# active_link_to "Acknowledgements", acknowledgements_path
          =# active_link_to "Invitations", invitations_path
          = active_link_to "Sign out", session_path, method: :delete
      -else
        %nav.primary-nav--right
        = active_link_to "Signup", teams_path
        = active_link_to "Log in", teams_path
  .container= yield
  %footer