!!! 5
%html(lang="en")
  %head
    %title= render_page_title
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    = open_graph_meta_tags
    = csrf_meta_tags
    = stylesheet_pack_tag "application", media: "screen,app"
    = javascript_pack_tag "application"
  %body
    = yield
