=render_layout "body" do
  %header
    .primary-nav
      %nav.primary-nav--left
        = active_link_to "Pagerline", teams_path, class: "navbar-brand"
      %nav.primary-nav--center
        .menu-item=@team.name
        = active_link_to "Dashboard", @team
        = active_link_to "Notifications", [@team, :notifications]
        = active_link_to "Members", [@team, :members]
      %nav.primary-nav--right
        = active_link_to "Settings", user_path(current_user)
        = active_link_to "Sign out", session_path, method: :delete
  .container= yield
  %footer