= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f|
  = f.association :user, include_blank: false
  = f.association :team, collection: policy_scope(Team), include_blank: false
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), members_path, :class => 'btn btn-default'
