%h1.title=t '.title', default: resource_class.model_name.human.titleize

%p
  %strong= resource_class.human_attribute_name(:user_id) + ':'
  %br
  = @member.user.name
%p
  %strong= resource_class.human_attribute_name(:account_id) + ':'
  %br
  = @member.account.name


= link_to t('.edit', default: t("helpers.links.edit")), edit_member_path(@member), class: 'button is-default'
= link_to t('.destroy', default: t("helpers.links.destroy")), member_path(@member), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-danger'
