%h1.title Edit account

= simple_form_for @account, html: { class: 'form-horizontal' } do |f|
  = f.input :name, autofocus: true
  = f.button :submit, "Save changes", class: 'is-primary'

%h2 Members
%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th= User.human_attribute_name(:name)
      %th= Member.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @account.members.each do |member|
      %tr
        %td= link_to member.user.name, member
        %td= local_time member.created_at
        %td
          = link_to t('.remove', default: t("helpers.links.remove")), member_path(member), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-xs is-danger'
-if @account.invitations.any?
  %h2 Invitations
  %table.table.is-fullwidth.is-striped
    %thead
      %tr
        %th= Invitation.human_attribute_name(:email)
        %th= Invitation.human_attribute_name(:name)
        %th= Invitation.human_attribute_name(:created_at)
        %th=t '.actions', default: t("helpers.actions")
    %tbody
      - @account.invitations.each do |invitation|
        %tr
          %td= link_to invitation.email, invitation
          %td= invitation.name
          %td= local_time invitation.created_at
          %td
            = link_to t('.delete', default: t("helpers.links.delete")), invitation_path(invitation), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-xs is-danger'

= link_to t('.add-member', default: t("helpers.links.add-member")), new_account_invitation_path(@account), class: 'button is-default'

%h2 Danger zone
%p Deletes the account, labels, memberships ... everything!
= link_to t('.destroy', default: t("helpers.links.destroy")), account_path(@account), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'button is-danger'

