.page-header
  %h2
    =pluralize @account.members.count, "person"
    on call
  .members
    -@account.members.each do |member|
      .member
        =image_tag "//via.placeholder.com/100x100", class: "member__image"
        .member__name=member.user.name
    .member
      =image_tag "//via.placeholder.com/100x100", class: "member__image"
      .member__name
        =link_to "Invite members", new_account_invitation_path(@account)
  %h2 Notifications
  %table.table.table-striped
    %thead
      %tr
        %th= Notification.human_attribute_name(:subject)
        %th= Notification.human_attribute_name(:created_at)
        %th Acknowledgement status
    %tbody
      - @account.notifications.each do |notification|
        %tr
          %td= link_to notification.subject, notification
          %td= local_time notification.created_at
          %td
            -if notification.acknowledgement
              =link_to notification.acknowledgement do
                =local_time_ago notification.acknowledgement.created_at
                by
                =notification.acknowledgement.user.name
            -else
              Not acknowledged
= link_to t('.edit', :default => t("helpers.links.edit")), edit_account_path(@account), :class => 'btn btn-default'
= link_to t('.notify', :default => t("helpers.links.notify")), new_account_notification_path(@account), :class => 'btn btn-default'
