.page-header
  %h2
    =pluralize @account.members.count, "person"
    in account
  .members
    -@account.members.each do |member|
      .member
        =image_tag "//via.placeholder.com/100x100", class: "member__image"
        .member__name=member.user.name
    .member
      =image_tag "//via.placeholder.com/100x100", class: "member__image"
      .member__name
        =link_to "Invite members", new_account_invitation_path(@account)
  %h2 Labels
  %table.table.table-striped
    %thead
      %tr
        %th= Label.human_attribute_name(:text)
        %th= Label.human_attribute_name(:created_at)
    %tbody
      - @account.labels.each do |label|
        %tr
          %td= link_to label.text, label
          %td= local_time label.created_at
= link_to t('.edit', :default => t("helpers.links.edit")), edit_account_path(@account), :class => 'btn btn-default'
= link_to t('.notify', :default => t("helpers.links.notify")), new_label_path(@account), :class => 'btn btn-default'
